@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One';
    --fonte3: 'Sriracha';
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    min-height: 100vh;
}

header{
    font-family: var(--fonte2);
    color: white;
    background-color: black;
    text-align: center;
    /*height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;*/
}

header > p {
    font-family: var(--fonte1);
    /*font-weight: normal;
    font-size: large;*/
    padding-bottom: 50px;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 2.5em;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.texto {
    background-color: white;
    color: black;
    font-family: var(--fonte3);
}

section.imagem{
    background-color: rgb(73, 71, 71);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
    font-family: var(--fonte3);
/*
    position: absolute;

    left: 65%;
    top: 70%;

    transform: translate(-200%, -100%);*/
}

#img01 {
    background-position: center top;
    background-attachment: fixed;
    background-image: url(../imagens/background001.jpg);
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: auto;

    position: relative;
}

#img02 {
    background-position: center bottom;
    background-attachment: fixed;
    background-image: url(../imagens/background002.jpg);
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: auto;

    position: relative;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/*.texto {
    height: 70vh;
    padding: 20px;
    font-size: x-large;
}

.imagem {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.377);
    height: 30%;
    width: 30%;
    position: absolute;
    left: 65%;
    top: 70%;
    transform: translate(-200%, -100%);
}


#secao1 {
    background-position: center top;
    background-attachment: fixed;
    background-image: url(imagens/background001.jpg);
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: auto;
    font-size: x-large;

    position: relative;
}

#secao2 {
    background-position: center bottom;
    background-attachment: fixed;
    background-image: url(imagens/background002.jpg);
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: auto;
    font-size: x-large;

    position: relative;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}

footer > p {
    color: white;
}

footer > a {
    font-weight: bolder;
}