@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

header{
    font-size: 2em;
    font-family: 'Sriracha', serif;
    color: white;
    background-color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    text-decoration: underline;
}

article > p {
    font-family: 'Passion One';
}

#bloco1 {
    background-color: gray;
    height: 70vh;
}

#secao1 {
    background-attachment: fixed;
    background-image: url(imagens/background001.jpg);
    background-color: black;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 70vh;
    width: auto;

    position: relative;
}

#bloco2 {
    background-color: rgba(0, 0, 0, 0.377);
    height: 200px;
    width: 200px;

    position: absolute;
}

#bloco3 {
    background-color: gray;
    height: 70vh;
}

#bloco4 {
    background-attachment: fixed;
    background-image: url(imagens/background002.jpg);
    background-color: black;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 70vh;
    width: auto;
}

#bloco5 {
    height: 70vh;
}

footer {
    background-color: black;
    text-align: center;
}

footer > p {
    color: white;
}

footer > a {
    font-weight: bolder;
}