@charset "UTF-8";

/*Estilo para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}
/*vai tirar o menu ao imprimir*/

article {
    width: 100%;
}

article::after {
    content: 'Este artigo foi impresso através do site www.cursoemvideo.com';
}
/*coloca algo após o article (vale pra outras tags também*/