@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0%;
}

header{
    font-family: 'Sriracha';
    color: white;
    background-color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

main > p {
    font-family: 'Passion One';
}

a {
    
}